<%- include ('segments/header') %>
        <form action="/create" method="POST">
            <div class="row">
                <div class="col s6">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido paterno</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data) { %>
                                <% for (var i=0; i < data.length; i++ ) { %>
                                    <a href="/">
                                        <tr>
                                            <td>
                                                <%= data[i].id %>
                                            </td>
                                            <td>
                                                <%= data[i].nombre %>
                                            </td>
                                            <td>
                                                <%= data[i].apellido_paterno %>
                                            </td>
                                            <td>
                                                <%= data[i].total %>
                                            </td>
                                        </tr>
                                        <%# will output the numbers 1-10 %>
                                            <% } %>

                                                <% } %>
                                    </a>
                        </tbody>
                    </table>

                </div>
            </div>
        </form>
        <%- include ('segments/footer') %>